apiVersion: apps/v1
kind: Deployment
metadata:
  name: guessme-backend
  namespace: guessme
spec:
  replicas: 1
  selector:
    matchLabels:
      app: guessme-backend
  template:
    metadata:
      labels:
        app: guessme-backend
    spec:
      containers:
        - name: backend
          image: ghcr.io/unknowntpo/guessme/backend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
              name: http
          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              cpu: "500m"
              memory: "1Gi"
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 30
---
apiVersion: v1
kind: Service
metadata:
  name: guessme-serve-svc
  namespace: guessme
spec:
  selector:
    app: guessme-backend
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
